@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.app-container {
  padding-left: 1.5rem; /* Equivalent to Tailwind's px-6 */
  padding-right: 1.5rem; /* Equivalent to Tailwind's px-6 */
}

/* For extra-large screens (xl) */
@media (min-width: 1280px) {
  .app-container {
    width: 95%;
    max-width: none; /* Assuming max-width-screen-2xl should override max-width */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem; /* Equivalent to Tailwind's px-6 */
    padding-right: 1.5rem; /* Equivalent to Tailwind's px-6 */
  }
}

/* For extra-extra-large screens (2xl) */
@media (min-width: 1536px) {
  .app-container {
    width: 90%;
    max-width: none; /* Assuming max-width-screen-2xl should override max-width */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem; /* Equivalent to Tailwind's px-6 */
    padding-right: 1.5rem; /* Equivalent to Tailwind's px-6 */
  }
}

.glass-morphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.features-bg {
  background-image: url("/assets/features-bg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left top;
}

/* Mobile media query */
@media (max-width: 767px) {
  .features-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -13rem -3rem;
  }
}

.slick-slide li button {
  cursor: none !important;
  pointer-events: none !important;
}

.slick-dots li .slick-active button:before {
  /* background: red !important; */
}

.slick-dots li button:before {
  display: none;
  cursor: none !important;
  pointer-events: none !important;
}

.slick-dots {
  display: flex !important;
  bottom: -80px !important;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.slick-dots ul {
  display: flex;
  justify-content: space-around;
  width: 238px;
}

.slick-dots li {
  background-color: #273f55 !important;
  width: 60px !important;
  height: 4px !important;
  border-radius: 3px;
}

.slick-dots li.slick-active {
  background-color: #2facda !important;
}

.use-cases-section-bg {
  background-image: radial-gradient(
      circle at 3% 45%,
      #2facda -40%,
      transparent 387px
    ),
    radial-gradient(65px 60px at 102% 64%, #2facda -500%, transparent 320px);
}

.use-cases-bg {
  background-image: url("/assets/path-bg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left center;
}

/* Mobile media query */
@media (max-width: 767px) {
  .use-cases-section-bg {
    background-image: radial-gradient(
        circle at 3% 27%,
        #2facda -40%,
        transparent 387px
      ),
      radial-gradient(65px 60px at 90% 79%, #2facda -500%, transparent 300px);
  }
}

.roadmap-section-bg {
  background-image: radial-gradient(
      circle at 50% 50%,
      #2facda -60%,
      transparent 280px
    ),
    url("/assets/path-bg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Mobile media query */
@media (max-width: 767px) {
  .roadmap-section-bg {
    background-image: radial-gradient(
        circle at 50% 50%,
        #2facda -280%,
        transparent 280px
      ),
      url("/assets/path-bg.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.tokenomics-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(196, 228, 241, 0.55) 24%,
    rgba(196, 228, 241, 0.65) 44%,
    rgba(255, 255, 255, 1) 80%
  );
}

.dark .tokenomics-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(9, 9, 19, 1) 0%,
    rgba(32, 91, 131, 0.45) 24%,
    rgba(32, 91, 131, 0.51) 44%,
    /* rgba(32, 91, 131, 0.45) 84%, */ rgba(9, 9, 19, 1) 70%
  );
  background-position: center 12rem;
  background-repeat: no-repeat;
}

/* Mobile media query */
@media (max-width: 767px) {
  .dark .tokenomics-bg {
    background-image: linear-gradient(
      to bottom,
      rgba(9, 9, 19, 1) 0%,
      rgba(32, 91, 131, 0.45) 24%,
      rgba(32, 91, 131, 0.51) 44%,
      rgba(9, 9, 19, 1) 80%
    );
    background-position: center 12rem;
    background-repeat: no-repeat;
  }

  .tokenomics-bg {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(196, 228, 241, 0.55) 24%,
      rgba(196, 228, 241, 0.55) 44%,
      rgba(255, 255, 255, 1) 80%
    );
    background-position: center 12rem;
    background-repeat: no-repeat;
  }
}

.feature-card {
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: scale(1.04);
}
